@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  @apply bg-white;
}

.square-grid > div {
}

.square-grid > div::before {
  content: "";
  padding-bottom: 100%;
  display: block;
}

.square-box::before {
  content: "";
  display: block;
  padding-top: 100%;
}
